<div class="AccessContainer">
    <h2>
        Welcome to Heros Company!
    </h2>
    <div class="Redirector">
        <div class="ButtonContainer">
            <label for="SignUp">Create a new account</label>
            <button (click)="onSignUpClicked()" class="SignUp AnimatedButton">Sign-Up</button>
        </div>
        <div class="ButtonContainer">
            <label for="SignIn">Already have an account?</label>
            <button (click)="onSignInClicked()" class="SignIn AnimatedButton">Sign-in</button>
        </div>
    </div>
</div>