<form [formGroup]="credentialsForm" (ngSubmit)="Submit()" class="AccessContainer">

    <div class="InputContainer">

        <label for="UserNameInput">User Name</label>
        <input class="UserNameInput InputBox" type="text" formControlName="username">

    </div>
    <div class="ErrorContainer">
        <p class="ErrorMsg" *ngIf="credentialsForm.controls['username'].errors?.required">
            - Required
        </p>
    </div>
    <div class="Seperator"></div>

    <div class="InputContainer">
        <label for="PasswordInput">Password</label>
        <input class="PasswordInput InputBox" type="password" formControlName="password">

    </div>
        
    <div class="ErrorContainer">
        <p class="ErrorMsg" *ngIf="credentialsForm.controls['password'].errors?.required">
            - Required
        </p>
        <p class="ErrorMsg" *ngIf="credentialsForm.controls['password'].errors?.pattern">
            - Password must contain atleast 1 digit, capital letter and special character
        </p>
        <p class="ErrorMsg" *ngIf="credentialsForm.controls['password'].errors?.minlength">
            - Password must contain atleast 8 characters
        </p>
    </div>
    <button [disabled]="!credentialsForm.valid" class="AnimatedButton">
        {{currentPage === 'sign-up' ? 'Sign Up' : 'Sign In'}}
    </button>
</form>