:host{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}
.AccessContainer{
    width: 400px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: var(--app-primary-medium);
    padding: 30px;
    border-radius: 15px;

}
.InputContainer{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Seperator{
    margin-top: 25px;
    border-bottom: 1px solid var(--app-main-foreground);
}
.ErrorContainer{
    height: auto;
    display: flex;
    flex-direction: column;
}
.ErrorMsg{
    word-wrap: break-word;
    font-size: 26px;
    color: var(--app-warning);
}
label{
    padding: 5px;
    align-self: center;
}
input{
    justify-self: center;
    align-self: center;
    color: var(--app-sub-foreground);
    border: 3px solid transparent;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    height: 1.5em;
}
input:focus{
    border: 3px solid var(--app-accent);
}

.ng-dirty .ng-invalid:not(form){
    border: 3px solid var(--app-warning);
}
