<button class="Card" [ngClass]="heroDTO.trainable ? '':'NotTrainable'">
    <div class="CardContainer">

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Id:
            </p>

            <p class="Value Guid">
                {{heroDTO.heroId}}
            <p>
        </div>

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Name:
            </p>
            <p class="Value">
                {{heroDTO.name}}
            </p>
        </div>

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Current power:
            </p>
            <p class="Value">
                {{heroDTO.currentPower}}
            </p>
        </div>

        <div class="ContentContainer Invisible">

            <p class="CardText TextContainer">
                Starting power:
            </p>
            <p class="Value">
                {{heroDTO.startingPower}}
            </p>
        </div>

        <div class="ContentContainer Invisible">
            <p class="CardText TextContainer">
                Ability:
            </p>
            <p class="Value">
                {{heroDTO.ability}}
            </p>
        </div>

        <div class="ContentContainer Invisible">
        <p class="CardText TextContainer">
            Joined at:
        </p>
        <p class="Value">
            {{heroDTO.startedAt}}
        </p>
    </div>
    <div class="ContentContainer Invisible">

        <p class="CardText TextContainer">
            Suit color:
        </p>
        <p class="Value">
            {{heroDTO.suitColors}}
        </p>
    </div>
    <button [disabled]="!heroDTO.trainable" class="AnimatedButton InvisibleButton"
            (click)="onHeroTrained()"    
    >
        Train!
    </button>

    </div>
</button>