<button class="Card">
    <div class="CardContainer">

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Id:
            </p>

            <p class="Value Guid">
                {{id}}
            <p>
        </div>

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Name:
            </p>
            <p class="Value">
                {{name}}
            </p>
        </div>

        <div class="ContentContainer">
            <p class="CardText TextContainer">
                Current power:
            </p>
            <p class="Value">
                {{currentPower}}
            </p>
        </div>

        <div class="ContentContainer Invisible">

            <p class="CardText TextContainer">
                Starting power:
            </p>
            <p class="Value">
                {{startingPower}}
            </p>
        </div>

        <div class="ContentContainer Invisible">
            <p class="CardText TextContainer">
                Ability:
            </p>
            <p class="Value">
                {{ability}}
            </p>
        </div>

        <div class="ContentContainer Invisible">
        <p class="CardText TextContainer">
            Joined at:
        </p>
        <p class="Value">
            {{joinedAt}}
        </p>
    </div>
    <div class="ContentContainer Invisible">

        <p class="CardText TextContainer">
            Suit color:
        </p>
        <p class="Value">
            {{suitColor}}
        </p>
    </div>
    <button class="AnimatedButton InvisibleButton">
        Train!
    </button>

    </div>
</button>